In [20]:
import pandas as pd
df = pd.read_csv("train_set.csv")
df

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287831,2016,3,Human Welfare & Neighborhood Development,DSS,Human Services,535,"SEIU - Human Services, Local 1021",Human Services,Senior Eligibility Worker,9610,78980,30115,13068.80,Fiscal,147079
287832,2015,5,Culture & Recreation,LIB,Public Library,790,"SEIU - Miscellaneous, Local 1021",Library,Librarian 1,790,30704,0,5465.57,Calendar,40174
287833,2014,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,6,"Electrical Workers, Local 6",Journeyman Trade,Electronic Maintenance Tech,38352,104451,0,13054.94,Calendar,164669
287834,2013,1,Public Protection,JUV,Juvenile Probation,250,"SEIU - Health Workers, Local 1021",Housekeeping & Laundry,Porter,29266,14425,0,4051.90,Calendar,19594
287835,2015,4,Community Health,DPH,Public Health,791,"SEIU - Staff and Per Diem Nurses, Local 1021",Nursing,Special Nurse,13906,105561,8945,7993.89,Fiscal,154197

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287836 entries, 0 to 287835
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                287836 non-null  int64
 1   OGC                 287836 non-null  int64
 2   OG                  287836 non-null  object
 3   DC                  287836 non-null  object
 4   Dept                287836 non-null  object
 5   UC                  287836 non-null  int64
 6   Union               287800 non-null  object
 7   JF                  287798 non-null  object
 8   Job                 287836 non-null  object
 9   EI                  287836 non-null  int64
 10  Salaries            287836 non-null  int64
 11  Overtime            287836 non-null  int64
 12  H/D                 287836 non-null  float64
 13  YT                  287836 non-null  object
 14  Total_Compensation  287836 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 32.9+ MB

In [22]:
column_names = ['OG', 'DC','Dept','Union','JF','Job','YT']  # Replace with the actual column names in your dataframe

for column in column_names:
    unique_values = df[column].unique()
    mapping = {value: index for index, value in enumerate(unique_values)}
    df[column] = df[column].replace(mapping)

print(df)

        Year  OGC  OG  DC  Dept   UC  Union  JF  Job     EI  Salaries  \
0       2015    4   0   0     0  250      0   0    0   6725     12196
1       2013    4   0   0     0   39      1   1    1  25058     74639
2       2015    6   1   1     1   21      2   2    2  46108    100554
3       2016    1   2   2     2  911      3   3    3  33369    140164
4       2013    2   3   3     3   21      2   4    4  28684     58813
...      ...  ...  ..  ..   ...  ...    ...  ..  ...    ...       ...
287831  2016    3   4   5     5  535      5  21   91   9610     78980
287832  2015    5   5  12    12  790      4  16   94    790     30704
287833  2014    2   3   3     3    6     18   1  393  38352    104451
287834  2013    1   2  36    36  250      0  13   67  29266     14425
287835  2015    4   0   0     0  791     14   9   61  13906    105561

        Overtime       H/D  YT  Total_Compensation
0              0      0.00   0               16158
1           2820  12703.31   1              115784
2              0  12424.50   0              144708
3          52754  13043.87   1              242323
4              0   7655.28   0               82106
...          ...       ...  ..                 ...
287831     30115  13068.80   1              147079
287832         0   5465.57   0               40174
287833         0  13054.94   0              164669
287834         0   4051.90   0               19594
287835      8945   7993.89   1              154197

[287836 rows x 15 columns]

In [23]:
df.describe()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
count,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000
mean,2014.250104,2.976007,2.251824,9.134597,9.132767,490.540186,8.745817,15.629956,170.518458,26913.060020,63262.713139,4401.037115,8932.876472,0.500063,97990.329882
std,1.016282,1.575586,1.555445,9.662995,9.661642,333.238723,9.234740,11.109899,187.579398,15539.719696,44638.657748,11079.137749,4894.072024,0.500001,67750.020573
min,2013.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-68771.000000,-12308.000000,-2940.470000,0.000000,-74082.000000
25%,2013.000000,2.000000,1.000000,2.000000,2.000000,236.000000,3.000000,8.000000,45.000000,13434.000000,23406.000000,0.000000,4358.347500,0.000000,35977.000000
50%,2014.000000,2.000000,3.000000,6.000000,6.000000,535.000000,4.000000,14.000000,102.000000,27013.000000,62504.500000,0.000000,11982.035000,1.000000,98033.000000
75%,2015.000000,4.000000,3.000000,13.000000,13.000000,790.000000,13.000000,21.000000,235.000000,40397.250000,93000.250000,2738.000000,12801.790000,1.000000,142138.250000
max,2016.000000,7.000000,6.000000,53.000000,53.000000,990.000000,73.000000,55.000000,1135.000000,53794.000000,515101.000000,227313.000000,21872.800000,1.000000,653498.000000

In [24]:
df.isnull().sum()

Year                  0
OGC                   0
OG                    0
DC                    0
Dept                  0
UC                    0
Union                 0
JF                    0
Job                   0
EI                    0
Salaries              0
Overtime              0
H/D                   0
YT                    0
Total_Compensation    0
dtype: int64

In [25]:
df.drop(df[df['Union'].isnull()].index, inplace=True)

In [26]:
df.isnull().sum()

Year                  0
OGC                   0
OG                    0
DC                    0
Dept                  0
UC                    0
Union                 0
JF                    0
Job                   0
EI                    0
Salaries              0
Overtime              0
H/D                   0
YT                    0
Total_Compensation    0
dtype: int64

In [27]:
df.drop(df[df['JF'].isnull()].index, inplace=True)

In [28]:
df.isnull().sum()

Year                  0
OGC                   0
OG                    0
DC                    0
Dept                  0
UC                    0
Union                 0
JF                    0
Job                   0
EI                    0
Salaries              0
Overtime              0
H/D                   0
YT                    0
Total_Compensation    0
dtype: int64

In [29]:
x = df.drop(['Total_Compensation'],axis=1)
y = df['Total_Compensation']

In [30]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [31]:
x_train.shape

(230268, 14)

In [32]:
x_test.shape

(57568, 14)

In [33]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [34]:
y_pred = lr.predict(x_train)
y_pred

array([173575.19487738, 170809.98751916, 127976.24090941, ...,
       178272.48838875, 123827.78491759, 174656.60371947])

In [35]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor()
knr.fit(x_train, y_train)

KNeighborsRegressor()

In [36]:
kn_pred = knr.predict(x_test)
kn_pred

array([107509.8,   1745.4, 206927.6, ...,  37497.2, 139819.2, 120606.6])

In [37]:
from sklearn.metrics import r2_score
r2_score(y_train, y_pred)

0.9873628357092867

In [38]:
r2_score(y_test, kn_pred)

0.987694597791172

In [42]:
import numpy as np
input_data = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)
convert_to_array = np.asarray(input_data)
re_shape = convert_to_array.reshape(-1,1)
prediction = lr.predict(re_shape)
print(prediction)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

ValueError: X has 1 features, but LinearRegression is expecting 14 features as input.